{% extends 'base.html' %} {% block content %}
{% load static %}

<section id="recipe_details">
    <div class="container-xl px-5">
        <div class="row mt-3">
            <!-- Recipe image -->
            <div class="col-md-6 text-center">
                <img class="img-thumbnail recipe-image" src="{% static 'images/default_recipe.jpg' %}"
                    alt="Placeholder Kitchen tools">
            </div>
            <!-- Recipe facts -->
            <div class="col-md-6">
                <h1>{{ recipe.title }}</h1>
                <p>Created by {{ recipe.author }} on {{ recipe.created_at }}</p>
                <hr>
                <p><i class="fas fa-heart" title="Likes"></i> <span id="total-likes">{{ recipe.number_of_likes }}</span>
                </p>
                <p><i class="fas fa-utensils"></i> Serves: {{ recipe.servings }}</p>
                <p>Calories per portion: {{ recipe.calories }}</p>
                <p>Protein: {{ recipe.protein }}</p>
                <p>Carbs: {{ recipe.carbs }}</p>
                <p>Fat: {{ recipe.fat }}</p><br>
                <p>Meal Type:
                    {% for tag in recipe.tags.all %}
                    <a href="{% url 'recipes_list_by_tag' tag.slug %}">{{ tag.name }}</a>
                    {% endfor %}
                </p>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-lg-6">
                <h2>Ingredients:</h2>
                <div>{{ recipe.ingredients | safe}}</div>
            </div>
            <div class="col-lg-6">
                <h2>Instructions:</h2>
                <div>{{ recipe.instructions | safe}}</div>
            </div>
        </div>
    </div>
</section>

{% endblock %}