{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">            

            <!-- Display all tags -->
            <div class="tags-container">
                <h3 class="tags-header">
                    <a href="{% url 'recipes' %}">All Recipes</a>
                </h3>
                <div class="tags-list">
                    {% for tag in tags %}
                    <a href="{% url 'recipes_list_by_tag' tag.slug %}" class="tag-item">{{ tag.name }}</a>
                    {% endfor %}
                </div>

            </div>

            <!-- Display recipes -->
            <div class="row">
                {% for recipe in recipes %}
                <div class="col-md-4">
                    <div class="card mb-4 border border-dark">
                        <div class="card-body">
                            <div class="image-container">
                                {% if "placeholder" in recipe.featured_image.url %}
                                <img class="card-img-top card-img-fixed-size"
                                    src="{% static 'images/default_recipe.jpg' %}" alt="placeholder image">
                                {% else %}
                                <img class="card-img-top card-img-fixed-size" src=" {{ recipe.featured_image.url }}"
                                    alt="{{ recipe.title }}">
                                {% endif %}
                                <div class="image-flash">
                                    <div class="border border-white border-2">                                        
                                        <i class="fas fa-heart card-likes" title="Likes"></i>
                                        {{ recipe.number_of_likes }}
                                    </div>
                                </div>
                            </div>
                            <a href="{% url 'recipe_detail' recipe.slug %}" class="recipe-link">
                                <h2 class="recipe-title">{{recipe.title}}</h2>
                            </a>
                            <hr />
                            <p>{{recipe.description}}</p>
                            <p>Meal type:
                                {% for tag in recipe.tags.all %}
                                <a href="{% url 'recipes_list_by_tag' tag.slug %}" class="tag-item">{{ tag.name }}</a>
                                {% if not forloop.last %} {% endif %}
                                {% endfor %}
                            </p>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 and not forloop.last %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}
            </div>

            <!-- If no recipes are found -->
            {% if not recipes %}
            <p>No recipes found.</p>
            {% endif %}

            {% if is_paginated %}
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                    {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; Previous</a>
                    </li>
                    {% endif %}
                    {% if page_obj.has_next %}
                    <li class="page-item">
                        <a href="?page={{ page_obj.next_page_number }}" class="page-link">Next &raquo;</a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}