{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- index.html content starts here -->
<div class="home-page">
    <div class="home-main-div"></div>
    <div class="container">
        <div class="row min-vh-100 align-items-center">
            <div class="col-12 col-md-8 col-lg-6 mx-auto">
                <div class="content-box text-center">
                    <h1 class="mb-4">Optimize your performance with nutrition!</h1>
                    <div class="text-center">
                        {% if user.is_authenticated %}
                            <div class="d-grid gap-2 d-md-flex justify-content-md-center">
                                <a href="{% url 'favorites' %}" class="btn btn-primary btn-lg">Favorites</a>
                                <a href="{% url 'recipes' %}" class="btn btn-secondary btn-lg">Browse Recipes</a>
                            </div>
                        {% else %}
                            <p class="account-info mb-3"><strong>With an account you can like, comment and save recipes to your Favorites.</strong></p>
                            <div class="d-grid gap-2 d-md-flex justify-content-md-center">
                                <a href="{% url 'account_login' %}" class="btn btn-primary btn-lg">Sign In</a>
                                <a href="{% url 'recipes' %}" class="btn btn-secondary btn-lg">Browse Recipes</a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- index.html content ends here -->
{% endblock %}